.cabecalho{
background-color: #292226;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
    }
    .cabecalho-item{
        display: inline-block;
        padding: 0 25px;
    }
.escola{
    background-image: linear-gradient(#1d161a, #000102);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 55px 0;
}
.escola-conteudo{
    width: 30%;
}
.escola-titulo{
    padding: 25px 0;
}
.perfil{
background-color: #284e51;
}
.estudante-imagem{
    padding: 20px 0;
    width: 200px;
}
.estudante-icone{
    width: 30px;
    padding: 20px 0;
}
.escola-div{
    text-align: center;
}
.estudante-titulo{
    text-align:center;
    padding: 30px 0;
}
.estudante-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding: 30px 0;
}
.rodape{
    background-color: black;
    color: white;
    padding: 12px 0;
    text-align:center;
}
.estudante-insta{
    width: 35px;
    padding: 18px 0;
}
.estudante-face{
    width: 30px;
    padding: 15px 0;
    left: 50%;
}
.estudante-conker{
    padding: 50px 20;
    width: 50px;
}
.estudante-eric{
    width: 50px;
}